{% extends "bootstrap/main.html" %}
{% block intitle %} میزکار ایلدا {% endblock %}


{% block inbody %}
<div class="w-100 d-flex flex-column justify-content-around align-items-start">
    <div id="active-services" class="w-100 d-flex flex-column text-end">
        {% for cloud in clouds %}
        <div id="s{{services.id}}" class="w-100 shadow shadow-sm rounded rounded-2 d-flex flex-row justify-content-around align-items-center alert alert-light">
            <span>
                {% if cloud.product_cloud.name %}{{ cloud.product_cloud.name }}
                {% else %} None 
                {% endif %}
            </span>
            <span>
                {% if cloud.cloud_id %}{{ cloud.cloud_ipv4 }}
                {% else %} 0.0.0.0 
                {% endif %}
            </span>
            <span>
                {% if cloud.uptime %}{{ cloud.uptime }}
                {% else %} -- 
                {% endif %}
            </span>
            <span>{% if cloud.product_main.price_amount %}{{ cloud.product_main.price_amount }}/{{ cloud.product_main.price_currency }}
                {% else %} 0 CUC {% endif %}
            </span>

            <div id="service-actions" class="w-25 d-flex flex-row justify-content-around align-items-center">
                <div id="service-status">
                    {% if cloud.status is running %}
                    <a id="service-stop" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop" viewBox="0 0 16 16">
                            <path d="M3.5 5A1.5 1.5 0 0 1 5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11zM5 4.5a.5.5 0 0 0-.5.5v6a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5z"/>
                        </svg>
                    </a>
                    {% else %}
                    <a id="service-start" href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
                            <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                        </svg>
                    </a>
                    {% endif %}
                </div>

                <a id="service-reboot" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                    </svg>
                </a>

                <a id="service-passwd" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                </a>

                <a id="service-more" href="{% url 'clouds:cloud-detail' cloud.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                    </svg>
                </a>
            </div>
        </div>
        {% endfor %}
        
        
    </div>
    
</div>
{% endblock %}